@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Montserrat:300,400,700,800|Open+Sans:300");
.c1sp4 {
  background: linear-gradient(120deg, #00c6ff 0%, #005bea 50%, #0072ff 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
}
.c1sp4 main {
  max-width: 720px;
  margin: 5% auto;
}
.c1sp4 .card {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
  transition: 200ms;
  background: #fff;
}
.c1sp4 .card .card__title {
  display: flex;
  align-items: center;
  padding: 30px 40px;
}
.c1sp4 .card .card__title h3 {
  flex: 0 1 200px;
  text-align: right;
  margin: 0;
  color: #252525;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}
.c1sp4 .card .card__title .icon {
  flex: 1 0 10px;
  background: #115dd8;
  color: #fff;
  padding: 10px 10px;
  transition: 200ms;
}
.c1sp4 .card .card__title .icon > a {
  color: #fff;
}
.c1sp4 .card .card__title .icon:hover {
  background: #252525;
}
.c1sp4 .card .card__body {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  align-items: center;
}
.c1sp4 .card .card__body .featured_text {
  display: flex;
  text-align: center;
}
.c1sp4 .card .card__body .featured_text p {
  margin: 0;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #252525;
}
.c1sp4 .card .card__body .featured_text p.sub {
  text-transform: uppercase;
  line-height: 2.25rem;
}
.c1sp4 .card .card__body .half {
  box-sizing: border-box;
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.c1sp4 .card .card__body .half .image {
  display: flex;
  justify-content: center;
  width: 100%;
}
.c1sp4 .card .card__body .half .image img {
  max-width: 100%;
  height: auto;
}
.c1sp4 .card .card__body .half #half-2-wrapper .description {
  margin-bottom: 25px;
}
.c1sp4 .card .card__body .half #half-2-wrapper .description p {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 27px;
  font-size: 16px;
  color: #555;
}
.c1sp4 .card .card__body .half #half-2-wrapper span.stock {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #a1cc16;
}
.c1sp4 .card .card__body .half #half-2-wrapper .reviews .stars {
  display: inline-block;
  list-style: none;
  padding: 0;
}
.c1sp4 .card .card__body .half #half-2-wrapper .reviews .stars > li {
  display: inline-block;
}
.c1sp4 .card .card__body .half #half-2-wrapper .reviews .stars > li .fa {
  color: #f7c01b;
}
.c1sp4 .card .card__body .half #half-2-wrapper .reviews > span {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-left: 5px;
  color: #555;
}
.c1sp4 .card .sep {
  content: "";
  position: relative;
  top: 0;
  left: 40px;
  width: calc(100% - 80px);
  height: 3px;
  background: linear-gradient(to right, #115dd8 0%, #115dd8 80%, #ddd 20%, #ddd 100%);
}
.c1sp4 .card .card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 50px;
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.c1sp4 .card .card__footer p {
  margin: 0;
  padding: 0;
}
.c1sp4 .card .card__footer .recommend {
  height: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.c1sp4 .card .card__footer .recommend p {
  text-transform: uppercase;
  font-size: 14px;
  color: #555;
}
.c1sp4 .card .card__footer .recommend h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #115dd8;
}
.c1sp4 .card .card__footer .action {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 20px;
}
.c1sp4 .card .card__footer .action .price-wrapper {
  font-family: "Fjalla One", sans-serif;
  font-size: 26px;
  line-height: 2.25rem;
}
.c1sp4 .card .card__footer .action button {
  cursor: pointer;
  border: 1px solid #115dd8;
  padding: 14px 30px;
  border-radius: 200px;
  color: #fff;
  background: #115dd8;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  transition: 200ms;
}
.c1sp4 .card .card__footer .action button:hover {
  background: #fff;
  color: #115dd8;
}

/*# sourceMappingURL=product-details.component.css.map */
